# Ignore Python's virtual environment and cache
venv/
__pycache__/
*.pyc

# Ignore the large raw data folder
/EEG_DATA/

# Ignore MLflow's local tracking folder
/mlruns/

# Ignore UI
/UI/
# ignore uploads
/UI/uploads/
/EEG_DATA/
# Ignore saved model 
UTIL_DYNAMIC/dynamic_svc_model.pkl
UTIL_DYNAMIC/common_channels.txt
/EEG_DATA
/trigger.txt
