name: ML Model Training

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t mlflow-dvc-trainer .

      - name: Run training in container
        env:
          GDRIVE_CREDS_JSON: ${{ secrets.GDRIVE_CREDENTIALS }}
        run: |
          docker run \
            -e GDRIVE_CREDS_JSON="${{ secrets.GDRIVE_CREDENTIALS }}" \
            -v ${{ github.workspace }}:/app \
            mlflow-dvc-trainer \
            bash -c "pip install dvc[gdrive] && python EEG_TRAIN_MODEL.py"
